
<div   *ngFor="let pc of pcs">

    <div *ngIf="pc.userId==ID">

        <div class="card mx-auto" style="width: 400px">
            <img [src]="pc.image"   >
            <div class="card-body">
             <!-- <p>{{pc.userId}} </p> -->
                 <p  > <b>Computer's Id :</b>{{pc.id}}</p>
                 <p > <b>name :</b>{{pc.nom}}</p>
                 <p > <b>description :</b>{{pc.description}}</p>
                 <p > <b>quantity :</b>{{pc.quantity}} pieces left</p>
                 <p > <b>price :</b>{{pc.prix | prixDinar}}</p>

                 <button class="btn btn-primary"  routerLink="/updateComputer/{{pc.id}} " (click)="onSendId(pc.id) " style="right: 0;" >Edit </button>
            </div>
        </div>
    </div>

    <br>

</div>

<router-outlet></router-outlet>
