
<div class="row row-cols-3" style="margin-top: 30px;">
<div   *ngFor="let pc of myPcs; index as i">

        <div class="card mx-auto col" style="width: 30remx;min-height: 30rem;" >
            <img [src]="pc.image"   >
            <div class="card-body">
<!--              <p>{{pc.acteur.id}} </p>-->
<!--              <p>{{pc.userId}} </p>-->
<!--                 <p  > <b>Computer's Id :</b>{{pc.id}}</p>-->
                 <p > <b>name :</b>{{pc.name}}</p>
                 <p *ngIf="showDetails[i] " > <b>description :</b>{{pc.description}}</p>
                 <p > <b>quantity :</b>{{pc.quantite}} pieces left</p>
                 <p > <b>price :</b>{{pc.prix | prixDinar}}</p>
                 <button class="btn btn-primary"  routerLink="/updateComputer/{{pc.idProduit}} " (click)="onSendId(pc.idProduit) " style="margin-right: 10px;float: right;" >Edit </button>
                 <button class="btn btn-info" (click)="onShowDetails(i)"><span *ngIf="!showDetails[i] " style="float: right;">Show</span><span *ngIf="showDetails[i]">Hide</span> Details</button>
            </div>
        </div>

    <br>
</div>
</div>
<nav aria-label="Page navigation example" >
  <ul class="pagination justify-content-center">

      <li  [ngClass]="selectedPrevious ?'page-item active ':'page-item' ">
      <button class="page-link" (click)="changePagePrevious() " > <span *ngIf="!firstof">Previous</span> <span *ngIf="firstof">First Page</span> </button>
    </li>
<div  *ngFor="let pageNb of numbrePages">
  <li   [ngClass]="selected[pageNb] ?'page-item active ':'page-item' ">
      <a  class="page-link"  (click)="changePage(pageNb) " >{{pageNb}} </a>
    </li>
</div>


    <li [ngClass]="selectedNext ?'page-item active ':'page-item' ">
      <button class="page-link"  (click)="changePageNext()"><span *ngIf="!endof"> Next</span> <span *ngIf="endof">Last Page</span></button>
    </li>
  </ul>

</nav>

