<br><br><br>
<div class="container">
    <footer class=" text-center text-white" style="background-color: #01579B">
        <!-- Grid container -->
        <div class="container p-4 pb-0">
          <!-- Section: Social media -->
          <section class="mb-4">
            <!-- Facebook -->
            <a class="btn btn-outline-light btn-floating m-1"  href="https://www.facebook.com/bil.le.roi/" target="tab" role="button"
              ><i class="fa fa-facebook" ></i
            ></a>
            <!-- whatsApp -->
            <a class="btn btn-outline-light btn-floating m-1"  href=" https://wa.me/+21620606983" target="tab" role="button"
            ><i class="fa fa-whatsapp" ></i
          ></a>
            <!-- Twitter -->
            <a class="btn btn-outline-light btn-floating m-1" href="https://twitter.com/BilelMlawhia" target="tab" role="button"
              ><i class="fa fa-twitter"></i
            ></a>

            <!-- Google -->
            <a class="btn btn-outline-light btn-floating m-1" href="mailto:bilelmlawhia@gmail.com" target="tab" role="button"
              ><i class="fa fa-google"></i
            ></a>

            <!-- Instagram -->
            <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/mlawhia/" target="tab" role="button"
              ><i class="fa fa-instagram"></i
            ></a>

            <!-- Linkedin -->
            <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/in/mlawhia-bilel-94846368/" target="tab" role="button"
              ><i class="fa fa-linkedin"></i
            ></a>

            <!-- Github -->
            <a class="btn btn-outline-light btn-floating m-1"  href="https://github.com/BilelMlaouhia" target="tab"  role="button"
              ><i class="fa fa-github" ></i
            ></a>
          </section>
          <!-- Section: Social media -->
        </div>
        <!-- Grid container -->

        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
          <a >
            <i class="fa fa-envelope"></i> <a href="mailto:bilelmlawhia@gmail.com" target="tab" style="color: white;"> bilelmlawhia@gmail.com</a>
          </a> <br>
          <a> <i class="fa fa-whatsapp"> </i>

            <a href=" https://wa.me/+21620606983" target="tab" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Contact Me" role="button" style="color: white;"> Tel / whatsApp: 00216 20 606 983</a>
          </a><br>
          © 2022 Copyright:
          <a class="text-white" href="https://www.linkedin.com/in/mlawhia-bilel-94846368/" target="tab">Mlaouhia Bilel</a>
        </div>
        <!-- Copyright -->

      </footer>


</div>
