
<nav class="container  navbar navbar-expand-lg" style="z-index: 140;position: fixed;right: 0;left: 0;background-color: #1565C0;height: 53px;">
  <input hidden="true" type="text">
    <a class="navbar-brand  " routerLink="/accueil">


        </a>
        <a class="navbar-brand  text-white" routerLink="/accueil">
          <i class="fa fa-home text-white" > Accueil</i>

            </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
                <li  class="nav-item">
          <a *ngIf="observerStatus" class="nav-link text-white" routerLink="/mycomputers">My Computers</a>
        </li>
        <li class="nav-item">
          <a *ngIf="observerStatus" class="nav-link  text-white" routerLink="/addComputer"> <i class="fa fa-plus"></i>  Computer</a>
        </li>

      </ul>

    </div>



    <ul >

       <button *ngIf="!observerStatus"  class="btn btn-light  sm ml-4"   style="margin-top: 16px;" routerLink="/login">
        <i class="fa fa-sign-in"> Login </i> </button>


  </ul>

  <ul >
     <button *ngIf="!observerStatus" class="btn btn-light  sm ml-4" routerLink="/signin" style="margin-top: 16px;"><i class="fa fa-user-plus">  Sign Up </i>  </button>
  </ul>

  <ul >
     <button *ngIf="observerStatus" class="btn btn-light  sm ml-4"  style="margin-top: 16px;" (click)="getMyProfile()" ><i class="fa fa-user-circle"> My Profile</i> </button>
  </ul>
  <ul >
     <button *ngIf="observerStatus" class="btn btn-danger  sm ml-4"   style="margin-top: 16px;" routerLink="/logout" (click)="onLogOut() " > <i class="fa fa-sign-out"> Logout </i> </button>
  </ul>


  </nav>
