

<br>


<div style="margin-right: 80px;">
</div>
<br>
<div class="alert alert-info text-center" *ngIf="allPages.length==0 " >Sorry there is no Item here to be showed </div>

<div class="row row-cols-3">
  <div   *ngFor="let pc of allPages; index as i" >

    <div class="card mx-auto col" style="width: 30remx;min-height: 30rem;" *ngIf="pc">
      <img [src]="pc.image" style="height: 15rem;margin-left:auto;margin-right: auto ;max-width:20rem ; "  >
      <div class="card-body ">
           <!-- <p  > <b>Id :</b>{{pc.id}}</p> -->
           <p > <b>Name :</b>{{pc.nom}}</p>
           <p *ngIf="showdescription[i] "> <b>Description :</b>{{pc.description}}</p>
           <p > <b>Quantity :</b>{{pc.quantity}} pieces left</p>
           <p > <b>Price :</b>{{pc.prix | prixDinar}}</p>
           <button class="btn btn-outline-primary" (click)="onShowDescpiton(i)"><span *ngIf="!showdescription[i]">show</span> <span *ngIf="showdescription[i]">hide</span> description</button>
           <button class="btn btn-outline-success " data-bsi-toggle="tooltip" data-bs-placement="bottom" title="Add To Card" style="margin-left: 20px;" (click)="addToCard(pc) " >Add <i class="fa fa-cart-plus"> </i></button>
      </div>
  </div>
    <br>
</div>
</div>





<nav aria-label="Page navigation example" >
  <ul class="pagination justify-content-center">

      <li  [ngClass]="selectedPrevious ?'page-item active ':'page-item' ">
      <button class="page-link" (click)="changePagePrevious() " > <span *ngIf="!firstof">Previous</span> <span *ngIf="firstof">First Page</span> </button>
    </li>
<div  *ngFor="let pageNb of numbrePages">
  <li   [ngClass]="selected[pageNb] ?'page-item active ':'page-item' ">
      <a  class="page-link"  (click)="changePage(pageNb) " >{{pageNb}} </a>
    </li>
</div>


    <li [ngClass]="selectedNext ?'page-item active ':'page-item' ">
      <button class="page-link"  (click)="changePageNext()"><span *ngIf="!endof"> Next</span> <span *ngIf="endof">Last Page</span></button>
    </li>
  </ul>

</nav>
