

<br><br>
<div   *ngFor="let pc of pcs">

  
    <div class="card mx-auto" style="width: 400px">
        <img src="assets/pcImage/{{pc.image}}"   >
        <div class="card-body">
        
             <!-- <p  > <b>Id :</b>{{pc.id}}</p> -->
             <p > <b>name :</b>{{pc.nom}}</p>
             <p > <b>description :</b>{{pc.description}}</p>
             <p > <b>quantity :</b>{{pc.quantity}} pieces left</p>
             <p > <b>price :</b>{{pc.prix | currency}}</p>
            
        </div>
    </div>
   
    <br><br>
    
</div>

<router-outlet></router-outlet>