

<br><br>
<div   *ngFor="let pc of allPages">


    <div class="card mx-auto" style="width: 400px" *ngIf="pc">
        <img src="assets/pcImage/{{pc.image}}"   >
        <div class="card-body">

             <p  > <b>Id :</b>{{pc.id}}</p>
             <p > <b>name :</b>{{pc.nom}}</p>
             <p > <b>description :</b>{{pc.description}}</p>
             <p > <b>quantity :</b>{{pc.quantity}} pieces left</p>
             <p > <b>price :</b>{{pc.prix | currency}}</p>

        </div>
    </div>

    <br><br>

</div>
<nav aria-label="Page navigation example" >
  <ul class="pagination justify-content-center">

      <li  [ngClass]="selectedPrevious ?'page-item active ':'page-item' ">
      <a class="page-link" (click)="changePagePrevious() " > <span *ngIf="!firstof">Previous</span> <span *ngIf="firstof">First Page</span> </a>
    </li>
<div  *ngFor="let pageNb of numbrePages">
  <li   [ngClass]="selected[pageNb] ?'page-item active ':'page-item' ">
      <a  class="page-link"  (click)="changePage(pageNb) " >{{pageNb}} </a>
    </li>
</div>


    <li [ngClass]="selectedNext ?'page-item active ':'page-item' ">
      <a class="page-link"  (click)="changePageNext()"><span *ngIf="!endof"> Next</span> <span *ngIf="endof">Last Page</span></a>
    </li>
  </ul>
  <li class="page-item active"></li>
</nav>
