
<div class="container">
    <br>
   <div *ngFor="let user of allUsers">

    <div *ngIf="authUser.id==user.id">

        <div class="card mx-auto" style="width: 30rem;">
            <img class="card-img-top" src="assets/userImage/{{user.image}}" width="70px">
            
                <div class="card-body">
                   
                 <center>
                    <h5 class="card-title">{{user.fullName}} </h5> <br><br>
                    <p class="card-text"> <b>Class :{{user.className}} </b>  </p>
                    <p class="card-text"> <b>Level : {{user.level}} </b> </p>
                    <p class="card-text"> <b>Section : {{user.section}} </b>  </p>
                    <div class="alert alert-danger" *ngIf="!deleteUser">
                        Do you really want your to delete Account! <br>
                    </div>
                    <input type="button" class="btn btn-danger" (click)="getDelete() " [value]="val" [hidden]="!deleteUser" >
                    <input type="button" class="btn btn-danger" (click)="getDeleteUser(user.id) " value="yes delete my account" [hidden]="deleteUser" >
                    <input type="text" hidden="true">
                    <button class="btn btn-info" (click)="postUserId(user.id) " > update account</button> 
                 </center>
                </div>
                
              </div>
    </div>

   </div>

        </div>
   



